* {
    font-size: 24px;
    line-height: 32px;
    font-family: Arial, Helvetica, san-serif;
    padding: 0;
    margin: 0;
    color: #222222;
    text-align: center;
}
header {
    background-color: #666666;
    background-image: url(../images/bgtop.png);
    background-position: center top;
    position: fixed;
    width: 100%;
    margin: auto;
    z-index: 4;
}
.notTop h1{
    font-size: 48px;
    line-height: 48px;
    display: inline-block;
    height: 60px;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.name {
    font-size: 76px;
    line-height: 76px;
    height: 140px;
    display: inline-block;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.notTop p{
    display: inline-block;
    text-align: left;
    color: inherit;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0px 10px 50px;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.title {
    font-size: 32px;
    line-height: 32px;
    margin: -70px 0 15px 0px;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.nospace {
    line-height: 0px;
}
.headline {
    font-size: 32px;
    display: inline-block;
    text-align: left;
    margin: 25px 0 25px 75px;
    color: inherit;
}
body {
    background-color: #000000;
    background-image: url(../images/bgtop.png);
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
}
#container {
    margin: 204px auto 25px;
}
.headline {
    margin: auto;
}
.content {
    text-align: left;
    line-height: 36px;
    display: inline-block;
    width: 548px;
    color: #dedede;
    vertical-align: top;
}
#description, #hirable, #examples {
    margin: 0 auto 25px;
    width: 850px;
}
#description {
    margin-top: -50px;
}
#description img {
    background-color: #000000;
    border: solid #F5E500 1px;
    border-radius: 25px;
    padding: 10px 25px;
    margin-right: 25px;
}
#hirable img {
    border: solid #F5E500 1px;
    border-radius: 25px;
    margin-left: 25px;
}
#examples {
    color: #dedede;
}
#examples h2 {
    font-size: 32px;
    color: inherit;
}
#examples p {
    color: inherit;
    text-align: left;
    line-height: 36px;
    margin-bottom: 20px;
}
#exampleList {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-rule: none;
    -ms-column-count: 2;
    -ms-column-gap: 10px;
    -ms-column-rule: none;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-rule: none;
    column-count: 2;
    column-gap: 10px;
    column-rule: none;
    list-style-type: none;
    height: 985px;
}
#exampleList li {
    margin-bottom: 15px;
}
.examPle {
    font-size: 36px;
    color: #dedede;
    display: inline-block;
    padding-top: 10px;
}
.examPle:hover {
    background:rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    opacity: 1;
    -webkit-animation-name: half-fadink;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: half-fadink;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#exampleList li img {
    width: 95%;
    margin: 5px auto;
}
.work-display {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: url('../images/screen.png');
}
.work-display:target {
    display: block;
}
.exampleDisplay {
    width: 50%;
    text-align: center;
    border: solid 1px #e8e8e8;
    border-radius: 5px;
    padding: 2%;
    background: #000000;
    z-index: 3;
    font-size: 24px;
    line-height: 0;
    left: 23%;
    position: fixed;
    top: 25%;
    padding-top: 30px;
    color: #dedede;
}
.work-display a {
    color: #F5E500;
    font-size: 30px;
}
.lefter {
    font-size: 20px;
    width: 50%;
    float: left;
    color: #dedede;
}
.work-display img {
    border: solid 5px #666666;
    width: 45%;
    float: right;
    margin-top: 10px;
}
.work-display p {
    margin-top:5px;
}
.workList {
    margin-top: -10px;
    margin-bottom: 15px;
    list-style-type: none;
}
.workList li {
    color: #dedede;
    text-align: right;
}
footer {
    line-height: 25px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #F5E500;
}
.contact{
    display: inline-block;
    margin: 25px;
    font-size: 60px;
    line-height: 60px;
    vertical-align: top;
}
.methods {
    display: inline-block;
    margin-top: 20px;
}
#contactList {
    list-style-type: none;
    display: inline-block;
}
#contactList li {
    display: inline-block;
    font-size: 20px;
    padding: 0px 0px 0px 10px;
}
li:last-child {
    padding-right: 0;
}
.image {
    width: 80px;
    height: 80px;
    position: relative;
}
.image img {
    width: 100%;
}
.image span:hover {
    color: #666666;
}
.image:after {
    content:'\ ';
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    background:rgba(255, 0, 0, 0.3);
    border-radius: 14px;
    opacity: 0;
}
.image:hover:after {
    opacity: 1;
    -webkit-animation-name: fadink;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: fadink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes fadink {
    0% { opacity: 0; }
    50% { opacity: 1;}
    90% { opacity: .2;}
    100% { opacity: 0; }
}
@-webkit-keyframes half-fadink {
    0% { background-color: #000000;color: white;}
    50% { background-color: #666666; color: #F5E500; }
    100% { background-color: #000000;color: white;}
}
@keyframes fadink {
    0% { opacity: 0; }
    50% { opacity: 1;}
    100% { opacity: 0; }
}
@keyframes half-fadink {
    0% { background-color: #000000;color: white;}
    50% { background-color: #666666; color: #F5E500; }
    100% { background-color: #000000;color: white;}
}
#email-span, #facebook-span, #google-span, #github-span {
    display: none;
}
a {
    text-decoration: none;
}
@media screen and (max-width: 935px){
    .name {
        font-size: 48px;
        line-height: 48px;
        height: 100px;
    }
    .title {
        font-size: 20px;
        line-height: 20px;
        margin-top: -50px;
    }
    #container {
        margin-top: 180px;
    }
    #description {
        margin-top: -70px;
    }
    #description, #hirable, #examples {
        width: 85%;
    }
    #description img {
        height: auto;
        width: 15%;
    }
    #hirable img {
        height: auto;
        width: 25%;
    }
    .content {
        width: 60%;
    }
    #description img {
        padding: 10px;
        border-radius: 10px;
    }
    #exampleList {
        max-height: 915px;
    }
}
@media screen and (max-width: 755px){
    #description, #hirable, #examples {
        width: 90%;
    }
    .content {
        width: 100%;
    }
    .name {
        height: 50px;
    }
    .title {
        margin: 0 auto 10px;
    }
    #hirable   {
        display: table;
    }
    #hirable .content  {
        display: table-footer-group;
    }
    #secondDiv img {
        display: table-header-group;
    }
    #exampleList li {
        vertical-align: top;
        width: 80%;
    }
    #exampleList li a {
        font-size: 30px;
        color: #dedede;
    }
    #exampleList li:last-child {
    margin-top: auto;
    }
    #exampleList {
        height: auto;
        max-height: 675px;
    }
    .contact {
        margin-bottom: 5px;
    }
    .methods {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 660px) {

    .methods {
        margin-top: 0;
    }
}
@media screen and (max-width: 595px){
    .notTop .title, .title {
        font-size: 18px;
        line-height: 20px;
        margin: 0 auto 10px;
        display: block;
        text-align: center;
    }
    .notTop h1 {
        height: auto;
    }
    .contact {
        margin-top: 15px;
    }
    .methods {
        margin-top: 0;
    }
    .methods p {
        margin: 0 15px 15px;
    }
}
@media screen and (max-width: 395px){
    .notTop .name, .name {
        font-size: 36px;
        line-height: 36px;
    }
    img {
        display: none;
    }
    #exampleList {
        column-count: 1;
    }
    #exampleList li {
        width: 100%;
    }
    .image {
        width: auto;
        height: auto;
    }
    .image:after {
        display: none;
    }
    #email-span, #facebook-span, #google-span {
        display: inline;
        font-size: 16px;
    }
    li {
        padding: 0 2px;
    }
}